[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
toml = "*"
flask-login = "*"
httpx = "*"
parsel = "*"
sqlalchemy = "*"
pixqrcodegen = "*"
flask-wtf = "*"

[dev-packages]
ruff = "*"
blue = "*"
isort = "*"

[requires]
python_version = "3.11"
