body{background: #F2F2F2}.card{border: none;height: 100%}.copy-button{height: 25px;display: flex;justify-content: center;align-items: center;position: relative}.tip{background-color: #263646;padding: 0 14px;line-height: 27px;position: absolute;border-radius: 4px;z-index: 100;color: #fff;font-size: 12px;animation-name: tip;animation-duration: .6s;animation-fill-mode: both}.tip:before{content: "";background-color: #263646;height: 10px;width: 10px;display: block;position: absolute;transform: rotate(45deg);top: -4px;left: 17px}#copied_tip{animation-name: come_and_leave;animation-duration: 1s;animation-fill-mode: both;bottom: -35px;left:2px}.text-line{font-size: 14px}
html {
  background: #F2F2F2;
}
.qrcode-container {
  padding: 10px;
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#copy_button_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.price {
  margin-top: -30px;
  font-size: 4rem;
  font-weight: bold;
  color: #32BCAD;
}
#qrcode-img {
  width: 300px;
  height: 300px;
}

@media(max-width: 1500px){
  #pix-img {
    width: 400px;
  }
  #qrcode-img {
    width: 200px;
    height: 200px;
  }
  .price {
    font-size: 3rem;
  }
  .card div {
    overflow: hidden;
    flex-direction: column;
  }
}
