{% extends "base.html" %}

{% block head %}
  <title>Configuração</title>
{% endblock %}

{% block content %}
  {% if message %}
    <div class="text-center alert alert-success" role="alert">{{ message }}</div>
  {% endif %}
  <form id="login-form" method="post">
    {{ form.csrf_token }}
    <div class="mb-3">
      {{ form.pix.label(class_="form-label") }}
      {{ form.pix(class_="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </form>
{% endblock %}

{% block scripts %}
  <script>
    var pix = "{{ config.pix }}"
    document.querySelector('#pix').value = pix
  </script>
{% endblock %}
